body {
  margin: 0;
  font-family: ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  max-width: 1280px;
  margin: 0 auto;
}
.App ul {
  list-style: none;
}
.App li {
  padding: 10px;
  border: 2px solid teal;
  margin: 5px;
}
.form input {
  width: 400px;
  outline: none;
  padding: 15px 10px;
  border-radius: 30px;
  border: 2px solid teal;
}
.form button {
  padding: 15px 10px;
  border-radius: 30px;
  border: 2px solid teal;
  margin-left: 10px;
}
.form {
  margin: 20px;
  text-align: center;
}
